/config.json
/node_modules
/oldvoicecommand.ts
/package-lock.json
collectorexample.ts
bannedWords.json
ICOCTeens.code-workspace
scores.sqlite
scores.sqlite-shm
scores.sqlite-wal
list.sqlite
list.sqlite-shm
list.sqlite-wal
members.sqlite-shm
members.sqlite-wal
members.sqlite
/databases/
commands/commerce/limit.json
commands/commerce/members.json
commands/commerce/shop.json
commands/commerce/membersbackup.json
sounds
